article,section,aside,nav,header,footer,address{
    display: block;
}
*{
    margin: 0;
    padding: 0;
}
a{text-decoration: none;
    cursor: pointer;
}
p{
    font-size:14px ;
}
p span{
    font-size: 12px;
    color:gray;
}
header>ul{
    height:78px;
    overflow: hidden;
    background: url(../images/bj1_02.png) repeat-x;
    list-style: none;
}
header>ul>li{
    height:78px;
    float:left;
}
header .logo{
    width: 350px;
    margin-left: 95px;
    background:url(../images/logo.png) no-repeat center;
}
header .search{
    width:401px;
    margin-left: 179px;
    background:url(../images/such.png) no-repeat center;
}
header .search input{
    margin:30px 80px;
    height: 20px;
    border: 0px;
}
header .search img{
    margin-bottom: -5px;
    cursor: pointer;
     margin-left: 38px;
}
header .login{
    width: 81px;
    background: url(../images/login.png) no-repeat center;
}
nav{
    overflow: hidden;
    background-color:#158687;
}
.nav{
    height: 50px;
    width: 930px;
    margin: 0 auto;
}
.nav>ul>li{
    float: left;
    list-style: none;
}
.nav>ul>li>a{
    width: 60px;
    height: 50px;
    margin:0 30px;
    line-height: 50px;
    color:#ffffff;
}
.content{
    background: url(../images/content.png) repeat-x;
}
.center{
    overflow: hidden;
    background: white;
    margin: 0 auto;
    width:1010px;
}
.content_left{
    float:left;
    width:225px;
    margin-top: 25px;
    margin-left: 10px;
}
.content_right{
    margin-left: 255px;
    margin-top: 25px;
    overflow: hidden;
}
.content_right h2,.content_left h2{
    font-size: 15px;
    border-bottom: 1px solid gray;
    height:37px;
    line-height: 37px;
}
.content_left h2>span{
    padding-top: 10px;
    border-top: 2px solid #158687 ;
}
.content_left ol{
  margin-left: 20px;
}
.content_left li{
    border-bottom: 1px dashed gray;
    height: 27px;
    color:red;
}
.content_left li a{
    color:black;
   line-height: 27px;
    font-size: 14px;
}
.content_right div{
    float: left;
    width: 154px;
    height: 104px;
    margin-left: 20px;
    margin-top: 10px;
}
.content_right .struct{
    width: 154px;
    height: 57px;
}
.content_right .struct p{
    line-height: 20px;
}
footer{
    margin: 5px auto;
    width:1004px;
    height: 35px;
    border: 1px solid skyblue;
}
footer>ul{
    overflow: hidden;
    list-style: none;
}
footer>ul>li{
    float: left;
    line-height: 35px;
    margin-left: 35px;
}
.address{
    width:1012px;
    height: 80px;
    background: url(../images/2.png) repeat-x;
    margin: 0 auto;
    text-align: center;

}
.address p{
    padding-top: 40px;
    font-size: 12px;
}